<div{{#if id}} id="{{id}}"{{/if}} class="m-outer mt-2{{class}}">
  <div class="m-wrapper">
    <a class="m-btn{{#if classa}} {{classa}}{{/if}}"{{#if ida}} id="{{ida}}"{{/if}}{{#if onclick}} onclick="{{onclick}}"{{/if}}{{#if href}} href="{{href}}"{{/if}}>{{#if showBtni}}<span class="q-ind">{{letter btni}}:</span>{{/if}}{{text}}</a>
  </div>
</div>
